---
title: About É sobre você
layout: base.njk
---

<div class="container">
  <h1>Esta página é realmente para vocé!</h1>
  <p>Esta página foi feita para você usando HTML, CSS e JavaScript. E servido como u
m JAMStack site.</p>
</div>


{% for item in news %}
  <a href="/{{ item.country}}">{{ item.country }}</a>
{%  endfor %}
