---
title: Um gerador de pagina inicial
layout: base.njk
---

<div class="container">
  <h1>Esta é uma página para você</h1>
  <div class="vibre">Você parece ótimo!</div>
  <div class="love">
    ❤️
  </div>
  <ul>
  {% for article in news.articles %}
    <li>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
    </li>

  {% endfor %}
  </ul>
</div>
<script src="/js/vibre.js"></script>
