---
title: Um gerador de pagina inicial
layout: base.njk
---

<div class="container">
  <h1>Esta é uma página para você</h1>
  <div class="vibre">Vocé parece ótimo!</div>
  <div class="love">
    ❤️
  </div>
</div>
<script src="/js/vibre.js"></script>
